<html>
    <head>
        <title>フリップくん管理画面</title>
        <script>
            function check_answer_data(answer){
                if(answer === ''){
                    return '無回答'
                }else{
                    return '回答済み'
                }
            }
        </script>
    </head>
    <body>
        <h1>フリップくん管理画面</h1>
        <h2>参加者リスト</h2>
        <ul id="attendance-list"></ul>
        <button onclick="answer_open_all()">回答全オープン</button>
        <button onclick="answer_close_all()">回答を全クローズ</button>
        <h2>回答受付状況</h2>
        <h3 id="answer-recieving-status"></h3>
        <button onclick="answer_recieve_start()">回答受付スタート</button>
        <button onclick="answer_recieve_end()">回答受付終了</button>
        <script>

            // エンドポイント取得

            const endpoint = {{ endpoint|tojson }};

            // user_data更新
            const url_user_data = new XMLHttpRequest();

            url_user_data.onload = function () {
                const data = JSON.parse(url_user_data.responseText);
                let insert = ''
                for(let i of data){
                    insert += '<li>' + i['name'] + ' / ' + check_answer_data(i['answer']) + ' / ' + check_answer_open_status(i['open']) + '/' + '<button onclick="delete_user(\'' + i['name'] + '\')">削除</button> / ' + '<button onclick="answer_open(\'' + i['name'] + '\')">回答をオープン</button>' + '<button onclick="answer_close(\'' + i['name'] + '\')">回答をクローズ</button>' + ' / ' + '<a href="http://127.0.0.1:5000/flip/' + i['name'] + '" target="_blank">フリップ画面</a></li>'
                }
                document.getElementById('attendance-list').innerHTML = insert;
            };

            window.setInterval(() => {
                url_user_data.open('GET', endpoint + '/api/status/get_user_data/', true);
                url_user_data.send();
            }, 1000);

            // 回答受付状況
            const url_answer_recieving_status = new XMLHttpRequest();

            url_answer_recieving_status.onload = function() {
                const data = url_answer_recieving_status.responseText;
                if(data === 'True') {
                    document.getElementById('answer-recieving-status').innerHTML = '回答受付中';
                } else {
                    document.getElementById('answer-recieving-status').innerHTML = '回答を受け付けていません';
                }
            }

            window.setInterval(() => {
                url_answer_recieving_status.open('GET', endpoint + '/api/status/check_answer_recieving_status/');
                url_answer_recieving_status.send();
            }, 1000);

            // 回答受付開始
            const answer_recieve_start = function() {
                const url_answer_recieve_start = new XMLHttpRequest();
                url_answer_recieve_start.open('POST', endpoint + '/api/status/answer_recieving_true/');
                url_answer_recieve_start.send();
            }

            // 回答受付終了
            const answer_recieve_end = function() {
                const url_answer_recieve_end = new XMLHttpRequest();
                url_answer_recieve_end.open('POST', endpoint + '/api/status/answer_recieving_false/');
                url_answer_recieve_end.send();
            }

            // ユーザー削除
            const delete_user = function(name) {
                const url_delete_user = new XMLHttpRequest();
                request_data = {
                    'name': name
                };
                url_delete_user.open('DELETE', endpoint + '/api/user/delete/');
                url_delete_user.setRequestHeader( 'Content-Type', 'application/json');
                url_delete_user.send(JSON.stringify(request_data));
            }

            // 回答全クローズ
            const answer_close_all = function() {
                const url_answer_close_all = new XMLHttpRequest();
                url_answer_close_all.open('POST', endpoint + '/api/status/answer_close_all/');
                url_answer_close_all.send();
            }

            // 回答を全オープン
            const answer_open_all = function() {
                const url_answer_open_all = new XMLHttpRequest();
                url_answer_open_all.open('POST', endpoint + '/api/status/answer_open_all/');
                url_answer_open_all.send();
            }

            // 特定の人の回答をオープン
            const answer_open = function(name) {
                const url_answer_open = new XMLHttpRequest();
                request_data = {
                    'name': name
                };
                url_answer_open.open('POST', endpoint + '/api/status/answer_open/');
                url_answer_open.setRequestHeader( 'Content-Type', 'application/json');
                url_answer_open.send(JSON.stringify(request_data));
            }

            // 特定の人の回答をクローズ
            const answer_close = function(name) {
                const url_answer_close = new XMLHttpRequest();
                request_data = {
                    'name': name
                };
                url_answer_close.open('POST', endpoint + '/api/status/answer_close/');
                url_answer_close.setRequestHeader( 'Content-Type', 'application/json');
                url_answer_close.send(JSON.stringify(request_data));
            }

            const check_answer_open_status = function(status){
                if(status){
                    return 'オープン'
                } else {
                    return 'クローズ'
                }
            };
        </script>
    </body>
</html>